/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.custom-list {
  list-style: none;
}

.custom-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #0099A3;
  border-radius: 50%;
}

body {
  font-family: "Prociono";
  
  
  }

